@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-family: "Poppins";
  background-color: #f5f5f5;
}

.recipe {
  margin: 1rem 17rem;
}
.recipe h1 {
  padding-bottom: 2rem;
  font-size: 3rem;
}
.recipeList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}
/* SEARCH */
.search {
  padding-bottom: 3rem;
  display: flex;
  gap: 30px;
}

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 820px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
  border: solid 1px rgb(192, 191, 191);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  border: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}

.searchBtn {
  position: relative;
  font-size: 1em;
  width: 300px;
  height: 40px;
  padding: 0.7em 1.4em;
  background-color: #28df99;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 768px) {
  .recipe {
    margin: 1rem 2rem;
  }
  .search {
    flex-direction: column;
  }
  .recipeList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  .form {
    --width-of-input: 100%;
  }
  .searchBtn {
    width: 100%;
  }
}

.wrapper {
  width: 200px;
  height: 80px;
  position: relative;
  z-index: 1;
  display: flex;
  top: 20rem;
  left: 43rem;
}

.circle1 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle1:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle1:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
